[tool.poetry]
name = "oeh-search-meta"
version = "0.1.0"
description = ""
authors = ["Robert Meissner <robert.meissner@codecentric.de>"]

[tool.poetry.dependencies]
python = "^3.9.1"
fastapi = "^0.63.0"
uvicorn = "^0.13.3"
requests = "^2.24.0"
bs4 = "^0.0.1"
adblockparser = "^0.7"
lxml = "^4.6.1"
tldextract = "^3.0.2"
"pdfminer.six" = "^20201018"
PyPDF2 = "^1.26.0"
aiohttp = "^3.7.3"

[tool.poetry.dev-dependencies]
pylint = "^2.6.0"
pre-commit = "^2.10.0"
pytest = "^6.2.2"
pytest-cov = "^2.11.1"
pytest-mock = "^3.5.1"
pandas = "^1.2.1"
altair = "^4.1.0"
altair-viewer = "^0.3.0"
black = "^20.8b1"
mkdocs = "^1.1.2"
pip-licenses = "^3.3.0"
wily = "^1.19.0"
vulture = "^2.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 79
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.mypy_cache
  | \.venv
  | logs
  | src\logs
)/
'''

[tool.pytest]
testpaths = "tests"